$white: #ffffff;
$black: #000000;

$primary: #01063e;
$secondary: #83cdce;

$bg-1: #8b8ada;
$bg-2: rgba(65, 60, 115, 0.76);
$bg-3: rgba(40, 39, 94, 1);

$s-0: 0;
$s-1: 0.25rem;
$s-2: 0.5rem;
$s-3: 1rem;
$s-4: 2rem;
$s-5: 4rem;
$s-6: 8rem;
$s-7: 16rem;
