<section class="layout">
    <div class="container">
        <div class="wrapper">
            <div class="cards ">
                <div class="grid col-3">

                    <div class="card">
                        <h5 class="title">Total Members</h5>
                        <div class="body">
                            <h4>2000K</h4>
                        </div>
                    </div>
                    <div class="card">
                        <h5>Total Members</h5>
                        <div>
                            <h4>2000K</h4>
                        </div>
                    </div>
                    <div class="card">
                        <h5>Total Members</h5>
                        <div>
                            <h4>2000K</h4>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card table">
                <div
                    class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-height fixed-columns">
                    <div class="dataTable-top">
                        <div class="dataTable-dropdown"><label><select class="dataTable-selector">
                                    <option value="5">5</option>
                                    <option value="10" selected="">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                </select> entries per page</label></div>
                        <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..."
                                type="text"></div>
                    </div>
                    <div class="dataTable-container" style="height: 500.633px;">
                        <table class="table table-flush dataTable-table" id="datatable-search">
                            <thead class="thead-light">
                                <tr>
                                    <th data-sortable="" style="width: 19.9234%;"><a href="#"
                                            class="dataTable-sorter">Name</a></th>
                                    <th data-sortable="" style="width: 27.4904%;"><a href="#"
                                            class="dataTable-sorter">Position</a></th>
                                    <th data-sortable="" style="width: 16.5709%;"><a href="#"
                                            class="dataTable-sorter">Office</a></th>
                                    <th data-sortable="" style="width: 8.14176%;"><a href="#"
                                            class="dataTable-sorter">Age</a></th>
                                    <th data-sortable="" style="width: 14.8467%;"><a href="#"
                                            class="dataTable-sorter">Start date</a></th>
                                    <th data-sortable="" style="width: 13.0268%;"><a href="#"
                                            class="dataTable-sorter">Salary</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-sm font-weight-normal">Tiger Nixon</td>
                                    <td class="text-sm font-weight-normal">System Architect</td>
                                    <td class="text-sm font-weight-normal">Edinburgh</td>
                                    <td class="text-sm font-weight-normal">61</td>
                                    <td class="text-sm font-weight-normal">2011/04/25</td>
                                    <td class="text-sm font-weight-normal">$320,800</td>
                                </tr>
                                <tr>
                                    <td class="text-sm font-weight-normal">Garrett Winters</td>
                                    <td class="text-sm font-weight-normal">Accountant</td>
                                    <td class="text-sm font-weight-normal">Tokyo</td>
                                    <td class="text-sm font-weight-normal">63</td>
                                    <td class="text-sm font-weight-normal">2011/07/25</td>
                                    <td class="text-sm font-weight-normal">$170,750</td>
                                </tr>
                                <tr>
                                    <td class="text-sm font-weight-normal">Ashton Cox</td>
                                    <td class="text-sm font-weight-normal">Junior Technical Author</td>
                                    <td class="text-sm font-weight-normal">San Francisco</td>
                                    <td class="text-sm font-weight-normal">66</td>
                                    <td class="text-sm font-weight-normal">2009/01/12</td>
                                    <td class="text-sm font-weight-normal">$86,000</td>
                                </tr>
                                <tr>
                                    <td class="text-sm font-weight-normal">Cedric Kelly</td>
                                    <td class="text-sm font-weight-normal">Senior Javascript Developer</td>
                                    <td class="text-sm font-weight-normal">Edinburgh</td>
                                    <td class="text-sm font-weight-normal">22</td>
                                    <td class="text-sm font-weight-normal">2012/03/29</td>
                                    <td class="text-sm font-weight-normal">$433,060</td>
                                </tr>
                                <tr>
                                    <td class="text-sm font-weight-normal">Airi Satou</td>
                                    <td class="text-sm font-weight-normal">Accountant</td>
                                    <td class="text-sm font-weight-normal">Tokyo</td>
                                    <td class="text-sm font-weight-normal">33</td>
                                    <td class="text-sm font-weight-normal">2008/11/28</td>
                                    <td class="text-sm font-weight-normal">$162,700</td>
                                </tr>
                                <tr>
                                    <td class="text-sm font-weight-normal">Brielle Williamson</td>
                                    <td class="text-sm font-weight-normal">Integration Specialist</td>
                                    <td class="text-sm font-weight-normal">New York</td>
                                    <td class="text-sm font-weight-normal">61</td>
                                    <td class="text-sm font-weight-normal">2012/12/02</td>
                                    <td class="text-sm font-weight-normal">$372,000</td>
                                </tr>
                                <tr>
                                    <td class="text-sm font-weight-normal">Herrod Chandler</td>
                                    <td class="text-sm font-weight-normal">Sales Assistant</td>
                                    <td class="text-sm font-weight-normal">San Francisco</td>
                                    <td class="text-sm font-weight-normal">59</td>
                                    <td class="text-sm font-weight-normal">2012/08/06</td>
                                    <td class="text-sm font-weight-normal">$137,500</td>
                                </tr>
                                <tr>
                                    <td class="text-sm font-weight-normal">Rhona Davidson</td>
                                    <td class="text-sm font-weight-normal">Integration Specialist</td>
                                    <td class="text-sm font-weight-normal">Tokyo</td>
                                    <td class="text-sm font-weight-normal">55</td>
                                    <td class="text-sm font-weight-normal">2010/10/14</td>
                                    <td class="text-sm font-weight-normal">$327,900</td>
                                </tr>
                                <tr>
                                    <td class="text-sm font-weight-normal">Colleen Hurst</td>
                                    <td class="text-sm font-weight-normal">Javascript Developer</td>
                                    <td class="text-sm font-weight-normal">San Francisco</td>
                                    <td class="text-sm font-weight-normal">39</td>
                                    <td class="text-sm font-weight-normal">2009/09/15</td>
                                    <td class="text-sm font-weight-normal">$205,500</td>
                                </tr>
                                <tr>
                                    <td class="text-sm font-weight-normal">Sonya Frost</td>
                                    <td class="text-sm font-weight-normal">Software Engineer</td>
                                    <td class="text-sm font-weight-normal">Edinburgh</td>
                                    <td class="text-sm font-weight-normal">23</td>
                                    <td class="text-sm font-weight-normal">2008/12/13</td>
                                    <td class="text-sm font-weight-normal">$103,600</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTable-bottom">
                        <div class="dataTable-info">Showing 1 to 10 of 57 entries</div>
                        <nav class="dataTable-pagination">
                            <ul class="dataTable-pagination-list">
                                <li class="pager"><a href="#" data-page="1">‹</a></li>
                                <li class="active"><a href="#" data-page="1">1</a></li>
                                <li class=""><a href="#" data-page="2">2</a></li>
                                <li class=""><a href="#" data-page="3">3</a></li>
                                <li class=""><a href="#" data-page="4">4</a></li>
                                <li class=""><a href="#" data-page="5">5</a></li>
                                <li class=""><a href="#" data-page="6">6</a></li>
                                <li class="pager"><a href="#" data-page="2">›</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>