<section class="layout">
  <div class="container">
    <div class="wrapper">
      <div class="cards">
        <div class="grid col-3">
          <div class="card">
            <h5>Balance</h5>
            <div>
              <h4>2000000</h4>
            </div>
          </div>
          <div class="card">
            <h5 class="title">New Members</h5>
            <div class="body">
              <h4>200</h4>
            </div>
          </div>
          <div class="card">
            <h5>Total Members</h5>
            <div>
              <h4>2000</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="member-table card">
        <div class="dataTable-wrapper">
          <div class="dataTable-top flex justify-between">
            <div class="dataTable-dropdown form-group">
              <label><select class="dataTable-selector">
                  <option value="5">5</option>
                  <option value="10" selected="">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                </select>
                entries per page</label>
            </div>
            <div class="dataTable-search form-group">
              <input class="dataTable-input" placeholder="Search..." type="text" />
            </div>
          </div>
          <div class="dataTable-container">
            <table class="table table-flush dataTable-table" id="datatable-search">
              <thead class="thead-light">
                <tr>
                  <th data-sortable="" style="width: 5%">
                    <a href="#" class="dataTable-sorter"></a>
                  </th>
                  <th data-sortable="" style="width: 25%">
                    <a href="#" class="dataTable-sorter">Name</a>
                  </th>
                  <th data-sortable="" style="width: 25%">
                    <a href="#" class="dataTable-sorter">Email</a>
                  </th>
                  <th data-sortable="" style="width: 20%">
                    <a href="#" class="dataTable-sorter">Status</a>
                  </th>
                  <th data-sortable="" style="width: 15%">
                    <a href="#" class="dataTable-sorter">Created At</a>
                  </th>
                  <th data-sortable="" style="width: 5%"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class=""></td>
                  <td class="">Tiger Nixon</td>
                  <td class="">System Architect</td>
                  <td class="">Pending</td>
                  <td class="">2011/04/25</td>
                  <td class="action" appPopup style="position: relative">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                    <div class="popup">
                      <a href="reciept" class="">Approve</a>
                      <a href="#pablo" class="">Cancel</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-weight-normal"></td>
                  <td class="text-sm font-weight-normal">Garrett Winters</td>
                  <td class="text-sm font-weight-normal">Accountant</td>
                  <td class="text-sm font-weight-normal">Approved</td>
                  <td class="text-sm font-weight-normal">2011/07/25</td>
                  <td class="text-sm font-weight-normal">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-weight-normal"></td>
                  <td class="text-sm font-weight-normal">Ashton Cox</td>
                  <td class="text-sm font-weight-normal">
                    Junior Technical Author
                  </td>
                  <td class="text-sm font-weight-normal">Approved</td>
                  <td class="text-sm font-weight-normal">2009/01/12</td>
                  <td class="text-sm font-weight-normal">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-weight-normal"></td>
                  <td class="text-sm font-weight-normal">Cedric Kelly</td>
                  <td class="text-sm font-weight-normal">
                    Senior Javascript Developer
                  </td>
                  <td class="text-sm font-weight-normal">Pending</td>
                  <td class="text-sm font-weight-normal">2012/03/29</td>
                  <td class="text-sm font-weight-normal">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-weight-normal"></td>
                  <td class="text-sm font-weight-normal">Airi Satou</td>
                  <td class="text-sm font-weight-normal">Accountant</td>
                  <td class="text-sm font-weight-normal">Approved</td>
                  <td class="text-sm font-weight-normal">2008/11/28</td>
                  <td class="text-sm font-weight-normal">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-weight-normal"></td>
                  <td class="text-sm font-weight-normal">Brielle Williamson</td>
                  <td class="text-sm font-weight-normal">
                    Integration Specialist
                  </td>
                  <td class="text-sm font-weight-normal">Approved</td>
                  <td class="text-sm font-weight-normal">2012/12/02</td>
                  <td class="text-sm font-weight-normal">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-weight-normal"></td>
                  <td class="text-sm font-weight-normal">Herrod Chandler</td>
                  <td class="text-sm font-weight-normal">Sales Assistant</td>
                  <td class="text-sm font-weight-normal">Pending</td>
                  <td class="text-sm font-weight-normal">2012/08/06</td>
                  <td class="text-sm font-weight-normal">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-weight-normal"></td>
                  <td class="text-sm font-weight-normal">Rhona Davidson</td>
                  <td class="text-sm font-weight-normal">
                    Integration Specialist
                  </td>
                  <td class="text-sm font-weight-normal">Approved</td>
                  <td class="text-sm font-weight-normal">2010/10/14</td>
                  <td class="text-sm font-weight-normal">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-weight-normal"></td>
                  <td class="text-sm font-weight-normal">Colleen Hurst</td>
                  <td class="text-sm font-weight-normal">
                    Javascript Developer
                  </td>
                  <td class="text-sm font-weight-normal">Approved</td>
                  <td class="text-sm font-weight-normal">2009/09/15</td>
                  <td class="text-sm font-weight-normal">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="text-sm font-weight-normal"></td>
                  <td class="text-sm font-weight-normal">Sonya Frost</td>
                  <td class="text-sm font-weight-normal">Software Engineer</td>
                  <td class="text-sm font-weight-normal">Pending</td>
                  <td class="text-sm font-weight-normal">2009/09/15</td>
                  <td class="text-sm font-weight-normal">
                    <button type="button">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <title>Action</title>
                        <path
                          d="M12 12.5C12.2761 12.5 12.5 12.2761 12.5 12C12.5 11.7239 12.2761 11.5 12 11.5C11.7239 11.5 11.5 11.7239 11.5 12C11.5 12.2761 11.7239 12.5 12 12.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 18.5C12.2761 18.5 12.5 18.2761 12.5 18C12.5 17.7239 12.2761 17.5 12 17.5C11.7239 17.5 11.5 17.7239 11.5 18C11.5 18.2761 11.7239 18.5 12 18.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                        <path
                          d="M12 6.5C12.2761 6.5 12.5 6.27614 12.5 6C12.5 5.72386 12.2761 5.5 12 5.5C11.7239 5.5 11.5 5.72386 11.5 6C11.5 6.27614 11.7239 6.5 12 6.5Z"
                          fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dataTable-bottom flex justify-between">
            <div class="dataTable-info">Showing 1 to 10 of 57 entries</div>
            <nav class="dataTable-pagination">
              <ul class="dataTable-pagination-list flex">
                <li class="pager"><a href="#" data-page="1">‹</a></li>
                <li class="active"><a href="#" data-page="1">1</a></li>
                <li class=""><a href="#" data-page="2">2</a></li>
                <li class=""><a href="#" data-page="3">3</a></li>
                <li class=""><a href="#" data-page="4">4</a></li>
                <li class=""><a href="#" data-page="5">5</a></li>
                <li class=""><a href="#" data-page="6">6</a></li>
                <li class="pager"><a href="#" data-page="2">›</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <ng-container>
        <div>Modal</div>
      </ng-container>
    </div>
  </div>
</section>