<section class="membership">
    <div class="container">
        <div class="form-container flex gap">
            <div class="bg-pattern"></div>
            <form class="form">
                <!-- Step One -->
                <div class="step-one">
                    <h4>SECTION A: BIO DATA </h4>
                    <p>Please fill all text input using capitalized letter.</p>
                    <div class="form-group">
                        <label>Title:</label>
                        <div>
                            <span>
                                <label for="" class="check">
                                    MISS.
                                    <input type="checkbox" name="" id="">
                                </label>
                            </span>
                            <span>

                                <label for="" class="check">
                                    MRS.
                                    <input type="checkbox" name="" id="">
                                </label>
                            </span>
                            <span>

                                <label for="" class="check">
                                    PROF.
                                    <input type="checkbox" name="" id="">
                                </label>
                            </span>
                            <span>

                                <label for="" class="check">
                                    DR.
                                    <input type="checkbox" name="" id="">
                                </label>
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="">FULL NAME:</label>
                        <input type="text" name="" id="" placeholder="(SURNAME FIRSTNAME MIDDLE NAME)">
                    </div>
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input type="email" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">RESIDENTIAL ADDRESS:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">MOBILE NO:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">DATE OF BIRTH:</label>
                        <input type="date" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">PLACE OF BIRTH:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">NEXT OF KIN:</label>
                        <input type="text" name="" id="">
                    </div>
                    <!-- <div class="form-group">
                        <label>MARITAL STATUS :</label>
                        <div>
                            <label for="" class="check">
                                SINGLE.
                                <input type="checkbox" name="" id="">
                            </label>
                            <label for="" class="check">
                                MARRIED
                                <input type="checkbox" name="" id="">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">NATIONALITY:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">STATE OF ORIGIN:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">L.G.A:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">ORGANIZATION/COMPANY NAME :</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">OFFICE ADDRESS:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="form-group">
                        <label for="">OFFICE PHONE NO:</label>
                        <input type="text" name="" id="">
                    </div> -->
                </div>

                <!-- Step Two -->
                <!-- <div>
                    <h4>SECTION B: REFERRENCE </h4>
                    <p>Please fill all text input using capitalized letter.</p>
                    <div>
                        <span>Title:</span>
                        <span>
                            <label for="">
                                MISS.
                                <input type="checkbox" name="" id="">
                            </label>
                            <label for="">
                                MRS.
                                <input type="checkbox" name="" id="">
                            </label>
                            <label for="">
                                PROF.
                                <input type="checkbox" name="" id="">
                            </label>
                            <label for="">
                                DR.
                                <input type="checkbox" name="" id="">
                            </label>
                        </span>
                    </div>

                    <div>
                        <label for="">FULL NAME:</label>
                        <input type="text" name="" id="" placeholder="(SURNAME FIRSTNAME MIDDLE NAME)">
                    </div>
                    <div>
                        <label for="">Email:</label>
                        <input type="email" name="" id="">
                    </div>
                    <div>
                        <label for="">RESIDENTIAL ADDRESS:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">MOBILE NO:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">DATE OF BIRTH:</label>
                        <input type="date" name="" id="">
                    </div>
                    <div>
                        <label for="">RELATIONSHIP:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <span>MARITAL STATUS :</span>
                        <span>
                            <label for="">
                                SINGLE.
                                <input type="checkbox" name="" id="">
                            </label>
                            <label for="">
                                MARRIED
                                <input type="checkbox" name="" id="">
                            </label>
                        </span>
                    </div>
                    <div>
                        <label for="">NATIONALITY:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">STATE OF ORIGIN:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">L.G.A:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">ORGANIZATION/COMPANY NAME :</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">OFFICE ADDRESS:</label>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">OFFICE PHONE NO:</label>
                        <input type="text" name="" id="">
                    </div>
                </div> -->

                <!-- Step Three -->
                <!-- <div>
                    <h4>SECTION C: MEMBERSHIP AGREEMENT</h4>

                    <div>
                        <label for="">Upload Signature and Date:</label>
                        <input type="file" name="" id="">
                    </div>
                    <div>
                        <label for="">Upload Passport Photograph:</label>
                        <input type="file" name="" id="">
                    </div>

                    <div>
                        <label for="">
                            I hereby choose to accept the terms and conditions of being a member of WILAT Nigeria
                            <input type="checkbox" name="" id="">
                        </label>
                    </div>
                </div> -->
                <!-- Submit Button -->
                <div class="form-btn">
                    <button type="button" class="btn btn-secondary">Prev</button>
                    <!-- <button type="button" class="btn btn-primary">Next</button>
                    <button type="submit" class="btn btn-primary">Submit</button> -->
                </div>

            </form>
        </div>
    </div>
</section>