<nav class="navbar">
    <ul class="flex align-center justify-end gap">
        <li class="nav-item" placement="bottom-right">
            <a class="nav-link pr-0" routerLinkActive="active" [routerLink]="['/dashboard']">
                Dashboard
            </a>
        </li>
        <li class="nav-item" placement="bottom-right">
            <a class="nav-link pr-0" routerLinkActive="active" [routerLink]="['/membership']">
                Membership
            </a>
        </li>
        <li class="nav-item" placement="bottom-right">
            <a class="nav-link pr-0" routerLinkActive="active" [routerLink]="['/membership']">
                Contact Us
            </a>
        </li>
    </ul>

</nav>