<div class="receipt">
    <!--Heading -->
    <div class=reciept-info>
        <span class="badge">E-Reciept</span>
    </div>
    <div class="reciept-header">
        <img src="assets/img/logo-scaled.png" alt="" srcset="" width="150" />
        <div class="text">
            <h1>WOMEN IN LOGISTICS AND TRANSPORT</h1>
            <p class="motto">Core Values: Competence, Professionalism and Dynamism</p>
            <p class="sub">
                Under The Aplices Of the Charted Institute Of Logistics And Transport Nigeria.
            </p>
        </div>
        <img src="assets/img/cilt-logo-scalced.png" alt="" srcset="" width="200" />
    </div>
    <div class="reciept-sub-header">
        <div>
            <p class="mb-1">
                Address: 15B Awolowo Road,
                <br>
                South-West, Ikoyi, Lagos.
            </p>
            <p>
                P.O BOx: 152 Ebute-Meta,
                <br>
                Lagos, Nigeria
            </p>
        </div>
        <div>
            <p class="mb-1">
                <span>
                    Document No: WNG001236
                </span>
                <br>
                <span>
                    Date Issued: 20/08/22
                </span>
            </p>
            <p>
                <span>
                    Website: <a href="http://www.wilatgroup.org" target="_blank"
                        rel="noopener noreferrer">www.wilatgroup.org</a>
                </span>
                <br />
                <span>
                    Email: <a href="mailto:info@wilatgroup.org">info@wilatgroup.org</a>
                </span>
            </p>
        </div>
    </div>

    <!-- Contents -->
    <div class="reciept-content">
        <div class="heading">
            <h3>
                Paymenent Details
            </h3>
        </div>
        <table class="table">
            <tbody class="tbody">
                <tr class="tr">
                    <td>Recieved From:</td>
                    <td>John Doe </td>
                </tr>
                <tr class="tr alt">
                    <td>
                        Payment Method:
                    </td>
                    <td>
                        Online Deposit
                    </td>
                </tr>
                <tr class="tr">
                    <td>
                        Amount:
                    </td>
                    <td>
                        ₦ 25, 000 .00K
                    </td>
                </tr>
            </tbody>

        </table>

        <!-- <div class="signature">
            <p>
                Authorized By:
                <br />
                Mrs. Jane Doe
                <br />
                Secetary Wilat Nigeria
            </p>

        </div> -->
    </div>
</div>