// Colors

$white: #ffffff;
$black: #000000;
$green: green;
$blue: rgb(62, 112, 155);

$primary: #3e225e;
$secondary: #bc9861;

$bg-primary: rgba(248, 249, 251, 1);
$bg-2: rgba(65, 60, 115, 0.76);
$bg-3: rgba(40, 39, 94, 1);

// Font/Padding/Marging Size

$s-0: 0;
$s-1: 0.25rem;
$s-2: 0.5rem;
$s-3: 1rem;
$s-4: 2rem;
$s-5: 4rem;
$s-6: 8rem;
$s-7: 16rem;

//

$box-shadow-1: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
$box-shadow-2: 0px 10px 50px -5px rgba(0, 0, 0, 0.1);

$border-radius-5: 5px;
$border-radius-50: 50%;
